@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400,700');

body{
    background-color: #f2f2f2;
}        

.ultra-no-zindex {
    z-index: -100;
}
.change-2-yellow-on-hover:hover{
    background: #e3e215;
    color: black;
}
.bg-wb-yellow {
    background: #e3e215;
}
.wb-yellow {
    color: #540d6e;
}
.bg-wb-blue {
    background: #55d6be;
}
.bg-wb-blue-1 {
    background: #110ea5;
}
.bg-wb-blue-2 {
    background: #090a6d;
}
.bg-wb-blue-dark {
    background: #540d6e;
}
.bg-wb-blue-green {
    background: #71f79f;
}
.bg-wb-grey-1 {
    background: #0d0d0d;
}
.bg-wb-grey-2 {
    background: #404040;
}
.wb-grey-2 {
    color: #404040;
}
.bg-wb-grey-3 {
    background: #a6a6a6;
}
.wb-grey-3 {
    color: #a6a6a6;
}
.bg-wb-grey-4 {
    background: #f2f2f2;
}

.left--110px {
    left: 110px;
}
.wb-maxwidth {
    max-width: 960px;
}

@media (min-width: 1281px) {
    .wb-maxwidth-ns {
        max-width: 960px;
    }
}

@media (min-width: 1281px) {
    .wb-timebanner-width-ns {
        width: 1155px;
    }
}

#buy-tickets ul {
    list-style: none;
}
#buy-tickets ul li::before {
    content: "\2022";
    font-size: 2em;
    color: #110ea5;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}
.popup ul li::before {
    content: "\2022";
    font-size: 2em;
    color: #e3e215;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}
.wholepage-pop {
    background: rgba(0, 0, 0, .7);
    z-index:100;
}
.actual-pop {
    opacity: 1;
    z-index:101;
}

.youtube-video {
    height: 200px;
}

@media (min-width: 1281px) {
    .ill-height-ns {
        height: 23rem;
    }
}

@media screen and (min-width: 30em) {
    .youtube-video {
        height: 315px;
    }
    .o-100-ns {
        opacity: 100;
    }
}

.grey-border {
    border-color: #404040;
}